<%= form_for (@user) do |f| %>
  <% if current_page?(:controller => 'users', :action => 'new') %>
    <label>Creating New User:</label><br>  
  <% elsif current_page?(:controller => 'users', :action => 'edit')%>
    <label>Editing User:</label><br> 
  <% end %>
  <div class="<%= ' field_with_errors' if @user.errors[:username].any? %>">
    <label>UserName:</label><br>
    <%= label_text_field(@user, f, :username) %><br>
  </div>
  <div class="<%= ' field_with_errors' if @user.errors[:first_name].any? %>">
    <label>First Name:</label><br>
    <%= label_text_field(@user, f, :first_name) %><br>
  </div>
  <label>Last Name:</label><br>
   <%= label_text_field(@user, f, :last_name) %><br>
  <div class="<%= ' field_with_errors' if @user.errors[:email].any? %>">
    <label>Email:</label><br>
    <%= label_text_field(@user, f, :email) %><br>
  </div>
   <% if !current_page?(:controller => 'users', :action => 'new') %>
    <div>
      <label>Active:</label><br>
      <%= f.check_box :active%>
    </div>
  <%end%>
  <% if !current_page?(:controller => 'users', :action => 'new') && is_admin%>
    <div>
      <label>Admin:</label><br>
      <%= f.check_box :admin%>
    </div>
  <%end%>
  <% if !current_page?(:controller => controller_name, :action => 'show', :id => @user.id.to_s) %>
    <div class="<%= ' field_with_errors' if @user.errors[:password].any? %>">
      <label>Password:</label><br>
      <%= f.password_field  :password %><br>
      <%= f.password_field  :password_confirmation %><br> 
    </div>
     <% params[:form_action] = :action %>
  <% else %>
    <% params[:form_action] = "show"%>
  <% end %>
  <%= f.submit  submit_text(@user) %>
<% end %>
<p></p>
<div style="float:left; width: auto;">
  <%= button_to "my Sports", nested_user_url("sports"), method: :get%>
</div>
<div style="float:left; width: auto;">
  <%= button_to "my Locations", nested_user_url("locations"), method: :get%>
</div>
<div style="float:left; width: auto;">
  <%= button_to "my Events", nested_user_url("events"), method: :get%>
</div>