<%if !current_page?(:controller => controller_name, :action => 'index')%>
  <div style="float:left; width: auto;">
    <%= button_to "All Users", users_url , method: :get%>
  </div>
<%end%>
<%if !current_page?(:controller => controller_name, :action => 'active')%>
  <div style="float:left; width: auto;">
    <%= button_to "Active Users", active_users_url , method: :get%>
  </div>
<%end%>
<%if !current_page?(:controller => controller_name, :action => 'inactive')%>
  <div style="float:left; width: auto;">
    <%= button_to "InActive Users", inactive_users_url , method: :get%>
  </div>
<%end%>
<br><br>
<% @users.each do |u|%>
  <div style="float:left; width: auto;">
    <%= u.first_name %> <%= u.last_name%> 
  </div>
  <div style="float:left; width: auto;">
    <%= button_to "View", user_url(u), method: :get%>
  </div>
  <div style="float:left; width: auto;">
    <%= button_to "Edit", edit_user_url(u), method: :get%>
  </div>
  <br><br>
<% end %>