<h1>Locations</h1>
<%if current_user then%> 
  <div style="float:left; width: auto;">
    <%= button_to "New", new_location_button_url, method: :get%>
  </div>
<%end%>
<br><br>
<% @locations.each do |l|%>
  <div style="float:left; width: auto;">
    <%= l.name %> <%= l.description%> 
  </div>
  <%if current_user then%> 
    <div style="float:left; width: auto;">
      <%= button_to "View", show_location_button_url(l), method: :get%>
    </div>
    <%if owns_record(l) then %>      
      <div style="float:left; width: auto;">
        <%= button_to "Edit", edit_location_button_url(l), method: :get%>
      </div>
    <%end%>
  <%end%>
  <br><br>
<% end %>